body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    color: #333;
}

#dataChart {
    max-width: 800px;
    margin: 20px auto;
}

#addPatientForm {
    margin-top: 20px;
}

form {
    display: inline-block;
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
}

form label, form input, form button {
    display: block;
    margin-bottom: 10px;
}

form button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
}
